    {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSayrac</title>  
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


</head>
<body>

    <br>
   <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">                   
                    <img id="profile-pic" src="{% static 'images/ms.jpg' %}" alt="">
                    <hr>
                    <h4>Hi, I am MSayrac!</h4>
                    <p>I love coding, doing research and collaborating.</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body">My First Job as a Developer</div>
                <hr>
                <p>Three months after developing my first applications while working in the education department, I made the decisive choice to transition my professional path into the field of software development, and at the same time, driven by my growing passion for technology and structured learning, I enrolled in a second undergraduate degree in the Computer Engineering department to strengthen my theoretical foundation and expand my technical expertise.</p>
                <p>This transition was not merely a change in job focus, but a deliberate and strategic career shift fueled by continuous self-learning, hands-on project development, and a strong commitment to building a solid background in programming, algorithms, and software architecture, all while balancing my professional responsibilities and academic studies to establish myself firmly in the software development field.</p>
                <p>Motivated by my long-term vision of becoming a highly skilled software engineer, I dedicated countless hours to improving my coding abilities, exploring modern development frameworks, contributing to personal and collaborative projects, and continuously refining my problem-solving skills, ensuring that my transition from the education sector to the technology industry was both sustainable and professionally impactful.</p>

                




            </div>        
        </div>

    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>

            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>        
        </div>

    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>

            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>        
        </div>

   </div>
   
</body>
</html>




